* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    transform-style: preserve-3d;
    /* perspective: 10px; */
}

#background {
    height: 100%;
    position: absolute;
    z-index: -1;
    transform: translateZ(-45px) scale(8);

    -webkit-transform: translateZ(-45px) scale(8);
    -moz-transform: translateZ(-45px) scale(8);
    -ms-transform: translateZ(-45px) scale(8);
    -o-transform: translateZ(-45px) scale(8);
}

#foreground {
    height: 300px;
    position: absolute;
    z-index: -1;
    transform: translateZ(-20px) scale(4);
    
    -webkit-transform: translateZ(-20px) scale(4);
    -moz-transform: translateZ(-20px) scale(4);
    -ms-transform: translateZ(-20px) scale(4);
    -o-transform: translateZ(-20px) scale(4);
}

#word {
    color: white;
    font-size: 90px;
}